#app {
  width: 400px;
  border: 1px solid black;
  margin: auto;
  padding: 10px;
}

#game {
  border: 1px solid black;
  
}
.row {
  display: flex;
}
.cell {
  width: 75px;
  height: 75px;
  border: 1px solid blue;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

#commands {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}