body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
}

#app {
  width: 400px;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  margin: 1rem
}

#reset-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

#new-game {
  padding: 7px 10px;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 4px;
  background-color: hsl(114, 53%, 62%)
}

#score {
  text-align: center;
  font-size: 1.6rem;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 15px;
}
#score-number {
  margin-left: 10px;
  font-weight: 600;
}

.row {
  display: flex;
  justify-content: center;
}

.cell {
  width: 75px;
  height: 75px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 2px;
  background-color: rgb(190, 190, 190);
  border: 1px solid rgb(140, 140, 140);
  font-size: 2rem;
}

.v-2 {
  background-color: rgb(192, 115, 80);
}

.v-4 {
  background-color: rgb(162, 128, 60);
}

.v-8 {
  background-color: rgb(124, 137, 62);
}

.v-16 {
  background-color: rgb(84, 143, 84);
}

.v-32 {
  background-color: rgb(35, 144, 115);
}

.v-64 {
  background-color: rgb(0, 141, 146);
}

.v-128 {
  background-color: rgb(23, 135, 168);
}

.v-256 {
  background-color: rgb(80, 125, 176);
}

.v-512 {
  background-color: rgb(119, 114, 168);
}

.v-1024 {
  background-color: rgb(145, 103, 148);
}

.v-2048 {
  background-color: rgb(156, 97, 122);
}

.v-5096 {
  background-color: rgb(154, 97, 97);
}

#commands {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 30px;
}

#commands button {
  width: 60px;
  height: 60px;
}

button:hover {
  cursor: pointer;
}

#message-display {
  text-align: center;
  font-size: 1.25rem;
  margin-top: 10px;
  color: #D40D12;
}

/* For smaller screen (smartphone) */
@media screen and (max-width: 600px) {
  #app {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }

  h1 {
    font-size: 3rem;
  }

  #score {
    font-size: 1.4rem;
  }

  .cell {
    width: 65px;
    height: 65px;
    font-size: 1.5rem;
  }

  #commands {
    margin: 15px;
  }

  #commands button {
    width: 48px;
    height: 48px;
  }
}